.header__navbar{
    background-image: url(../img/welcome.png);
    background-size: cover;
    display: fixed;
    background-position: 75% 0;

}
.header-content{
    display: flex;

}
.header__menu-container{
    display: flex;
    padding: 25px 15px;
    margin: auto;
}

.header__social{
    margin-right: 80px;
    margin-left: 65px;
}
.menu-item{
    list-style: none;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--header-size);
    font-family: var(--first-font);
}
.menu-list__item{
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
}

